name: Build Windows EXE

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Récupérer le code
      uses: actions/checkout@v4

    - name: Installer Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Installer PyInstaller
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller

    - name: Créer le .exe
      run: |
        pyinstaller --onefile --noconsole prank_cyber.py

    - name: Sauvegarder l'exécutable
      uses: actions/upload-artifact@v4
      with:
        name: prank_cyber_exe
        path: dist/prank_cyber.exe
